<% include layouts/header %>

<h1><%= title %></h1>
<p>Welcome <%= user.name %></p>
<p>
    <a href="/items" class="text-info">Ver Itens</a>
</p>
<p>
    <a href="/items/add" class="text-info">Add Item</a>
</p>
<p>
    <a href="/listas" class="text-info">Ver Listas</a>
</p>
<p>
    <a href="/listas/add" class="text-info">Add Lista</a>
</p>

<% include layouts/footer %>