<form method="post" action="/register">
  <div class="form-group">
    <label>Nome</label>
    <input class="form-control" type="text" name="name" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input class="form-control" type="text" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input class="form-control" type="email" name="email" placeholder="E-mail">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input class="form-control" type="text" name="password" placeholder="Senha">
  </div>
  <div class="form-group">
    <label>Confirmar senha</label>
    <input class="form-control" type="text" name="password2" placeholder="Confirmar senha">
  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
  <br>
  Já tem uma conta? <a class="btn btn-default btn-sm" href="/login">Logar</a>
</form>
