<% include ../layouts/header %>

<% if(categories.length > 0) { %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="20%">Titulo</th>
      <th scope="col" width="60%">Desc</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach( category => { %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.desc %></td>
        <td>
          <a href="/categorias/edit/<%= category._id %>" class="btn btn-link mr-2">Edit</a>
          <form action="/categorias/del/<%= category._id %>?_method=DELETE" method="POST" class="d-inline-block">
            <button type="submit" class="btn btn-link text-danger">Del</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
  <div class="alert alert-info">Nenhuma categoria cadastrada. Adicione novas categorias no botão abaixo</div>
<% } %>
<p>
    <a href="/categorias/add" class="btn btn-primary">Add categoria</a>
</p>

<% include ../layouts/footer %>