<% include ../layouts/header %>

<% if(categories.length > 0) { %>
  <h4 class="mb-3">Categorias</h4>
  <div class="list-group">
    <% categories.forEach( category => { %>
      <a href="/itens/categoria/<%= category.title.toLowerCase() %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= category.title %>
        <span class="badge badge-primary badge-pill"><%= category.qtdItens %></span>
      </a>
    <% }) %>
  </div>
<% } else { %>
  <div class="alert alert-info">Nenhuma categoria cadastrada.</div>
<% } %>

<% include ../layouts/footer %>